@model GSNA.Domain.DTO.InstagramDetailsDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstagramDetailsDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seguidores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seguidores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NaoSeguidores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NaoSeguidores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impressoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impressoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitasNoPerfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitasNoPerfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToquesNoSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToquesNoSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContasComEngajamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContasComEngajamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteracoesComConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteracoesComConteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Follows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Follows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unfollows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unfollows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeDePosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDePosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeDeStories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeDeStories)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
