@model List<GSNA.Domain.DTO.InstagramDetailsDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data criação
            </th>
            <th>
                Data início
            </th>
            <th>
                Data fim
            </th>
            <th>
                Seguidores
            </th>
            <th>
                Não seguidores
            </th>
            <th>
                Impressoes
            </th>
            <th>
                Visitas no perfil
            </th>
            <th>
                Toques no site
            </th>
            <th>
                Contas com Engajamento
            </th>
            <th>
                Interações com o conteudo
            </th>
            <th>
                Follows
            </th>
            <th>
                Unfollows
            </th>
            <th>
                Quantidade posts
            </th>
            <th>
                Quantidade Stories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seguidores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaoSeguidores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impressoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitasNoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToquesNoSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContasComEngajamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteracoesComConteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Follows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unfollows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDePosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDeStories)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
